#header{
	
	color:lime;
	text-shadow:4px 3px red;
	font-size:100px;
	font-family:algerian;
	text-decoration:underline;
}
.Hero{
	color:green;
	font-family:verdana;
	font-weight:bold;
	
}
section.serv{
color:cyan;
font-weight:strong;

}
section.container{
	color:indigo;
	font-weight:strong;
	display:flex;
	
	
}
body{
	background-color:rgb(255, 155, 60);
	border:40px dotted green;
	padding:20px;

}
section.footer{
	color:hsl(120, 100%, 20%);
font-size:35px;
background-color:grey;
}
.p{
	color:#00ff00;
	
}
a[href]{
	color:red;
	font-size:30px;
	background-color:gold
}
img[src]{
	 width:250px; 
	 height:250px;

}
